html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.contenedor {
    height: 100vh;
}

footer {
    text-align: center;
    background-color: #302F2F;
}

nav {
    font-size: 1.4rem;
    background-color: #BFD1E5;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav div a {
    text-decoration: none;
    color: #000;
    display: inline-block;
}

nav div a:hover {
    background-color: #9DCDC0;
    border-radius: 1rem;
}

h1 {
    margin: 0px;
}

main{
    margin-top: 1rem;
    background-color: #F8F7FF;
}

aside {
    padding: 1rem;
    background-color: #EBF5EE;
}


section {
    background-color: #A0CED9;
    border-radius: 1rem 5rem;
    margin-bottom: 2rem;
    display: flex;
    padding: 1rem;
    flex-direction: column;
}

section img{
    order: 2;
    width: 30%;
    margin: 0 auto;
}

section article{
    order: 1;
}

section article p{
    line-height: 2.7rem;
    font-size: 1.4rem;
}

footer p{
    font-size: 1.4rem;
}

.ocultar {
    display: none;
}

@media (min-width: 576px) {
    .contenedor {
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 2rem;
    }

    nav {
        grid-column: 1 / 3;
    }

    footer {
        grid-column: 1 / 3;
    }

    nav {
        justify-content: space-between;
    }

    .ocultar {
        display: block;
    }

    nav .segundo_nav{
        margin-top: 2.2rem;
    }
}

@media (min-width: 768px) {
    .contenedor {
        grid-template-columns: 1fr 3fr 1fr;
    }

    nav {
        flex-direction: column;
        justify-content: start;
    }

    nav div a {
        display: block;
        padding: 1rem 1rem 2rem 1rem;
    }
    

    nav {
        grid-column: 1 / 2;
    }

    footer {
        grid-column: 1 / 4;
    }

    main section {
        gap: 2rem;
    }
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.contenedor {
   
}

footer {
   
    text-align: center;
}

nav {
   
    display: flex;
}

nav a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding: 0.3rem;
}

h1 {
    margin: 0px;
}

aside {
    
    padding: 1rem;
}


section {
    display: flex;
    padding: 1rem;
}

@media (min-width: 576px) {
    .contenedor {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    nav {
        grid-column: 1 / 3;
    }

    footer {
        grid-column: 1 / 3;
    }

    nav {
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    .contenedor {
        grid-template-columns: 1fr 3fr 1fr;
    }

    nav {
        flex-direction: column;
        justify-content: start;
        padding: 1rem;
    }

    nav div a {
        display: block;
        margin-top: 2rem;
    }

    nav div a:hover {
        background-color: #f2f2f2;
    }

    nav {
        grid-column: 1 / 2;
    }

    footer {
        grid-column: 1 / 4;
    }

    main section {
        gap: 2rem;
    }
}