P{

    background-color: coral;
}
.par{
    background-color: pink;
}
p.par{
    background-color: mediumturquoise;
}
#parr{
    background-color: orange;
}
p#parr{
    background-color: red;
}
p.par#parr{
    background-color: green;
}