body{
    margin: 0px;
}

header{
    background-color: yellow;
    height: 80px;
    padding-top: 30px;
}

nav, section{
    height: 500px;
}

nav{
    background-color: green;
    width: 25%;
    float: left;
}

section{
    background-color: grey;
    width: 75%;
    float: left;
}

footer{
    background-color: blue;
    height: 50px;
    clear: left;
}

p{
    padding: 10pxs;
}

li{
    list-style: none;
}

