.cuadrado{
width: 100px;
height: 100px;
background-color: red;
margin-left: 20px;
}
.rombo{
    
    width: 100px;
height: 100px;
background-color: red;
margin-left: 20px;
transform: rotate(45deg);
}
.paralelogramo{
    width: 150px;
height: 100px;
background-color: red;
margin-left: 20px;
transform: skew(20deg);

}
.trinagulo{
    
width: 0px;
height: 0px;
border-left:50px solid transparent;
border-right: 50px solid transparent ;
border-top: 50px solid green;
border-bottom: 50px solid transparent;
}
.circulo{
    width: 100px;
height: 100px;
background-color: red;
border-radius: 50%;
}
.circulo2{
    width: 0px;
height: 0px;
border-radius: 100%;
border-left:50px solid green;
border-right: 50px solid yellow ;
border-top: 50px solid aqua;
border-bottom: 50px solid red;
}
.diamante{
    width: 100px;
    height: 100px;
    background-color: red;
   clip-path: polygon(20% 0%, 80% 0%, 100% 20px, 50% 100%, 0% 20%);
    
}